body {
  padding-bottom: 1000px;
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 400px;
  align-items: start;
  margin-top: 100px;
}

.profile-picture-section {
  width: 60px;
  height: 200px;
  padding-right: 12px;

  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.account-nickname {
  font-weight: 700;
}

.account-tag {
  font-weight: 500;
  color:rgb(97, 97, 97);
}

.post-description {
  font-weight: 500;
  font-family: Arial;
  margin-top: 4px;

  display: flex;
  flex-direction: row;
  flex: 1;
}

.video-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 338px;
  height: 80px;
  margin-top: 12px;

  border-width: 1px;
  border-style: solid;
  border-color: rgb(197, 197, 197);
  border-radius: 18px;
  
}

.gray-space {
  width: 100px;
  height: 80px;
  background-color: rgb(197, 197, 197);
  border-radius: 16px;
  margin-right: 5px;
  margin-left: -1px;
  border: 1px solid rgb(197, 197, 197);
}

.link {
  color:rgb(97, 97, 97);
  margin-bottom: 2px;
}

.video-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  height: 80.5px;
  background-color: white;
  margin-left: -20px;
  padding-left: 8px;
}