.request-text {
  font-family: Arial;
  font-size: 34px;
  margin-bottom: 18px;
}

input {
  font-family: Arial;
  display: block;
  margin-top: 0;
  margin-bottom: 6px;
  background-color: #f0f0f0;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 140px;
}

button {
  border: none;
  font-family: Arial;
  margin-top: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 12px;
  cursor: pointer;
}

.request-button {
  background-color: black;
  color: white;
}